{% for medlem in site.styremedlemmer %}
<article class="post-card {{ page.class }}{% unless post.cover %} no-image{% endunless %}">
    {% if medlem.cover %}
    <a class="post-card-image-link" href="{{ site.baseurl }}{{ medlem.url | remove_first: '/' }}">
        <div class="post-card-image" style="background-image: url({{ site.baseurl }}{{ medlem.cover }})"></div>
    </a>
    {% endif %}
    <div class="styret-card-content">
            <header class="post-card-header">

                <h2 class="post-card-title">{{ medlem.title }}  </h2>
                <h3>{{medlem.name}}</h3>
            </header>
            <section class="post-card-excerpt">
                {% if medlem.excerpt %}
                <p>{{ medlem.excerpt | strip_html | truncatewords: 33, "" }}</p>
                {% else %}
                <p>{{ medlem.content | strip_html | truncatewords: 33, "" }}</p>
                {% endif %}
            </section>
        <footer class="post-card-meta">


        </footer>
    </div>
</article>
{% endfor %}
